name: Black
permissions:
  contents: read

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  check-source-changes:
    runs-on: ubuntu-latest
    outputs:
      run_job: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout Sourcecode
        uses: actions/checkout@v6

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            purpleair_api/*.py
            tests/*.py
            tests/*.txt
            setup.py
            setup.cfg

  black:
    runs-on: ubuntu-latest
    needs: check-source-changes
    if: needs.check-source-changes.outputs.run_job == 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: psf/black@26.1.0