name: Tests

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python 3.10 env for running unittest tests...
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install python3 requirements...
        uses: knicknic/os-specific-run@v1.0.4
        with:
          linux: cd /home/runner/work/purpleair_data_logger/purpleair_data_logger/ ;
                 python -m pip install --upgrade wheel ;
                 python -m pip install --upgrade setuptools ;
                 python -m pip install --upgrade pip ;
                 python -m pip install coverage ;
                 python -m pip install requests_mock ;
                 python -m pip install purpleair_api ;

      - name: Run unit tests...
        uses: knicknic/os-specific-run@v1.0.4
        with:
          linux: cd /home/runner/work/purpleair_data_logger/purpleair_data_logger/tests ;
                 coverage run -m unittest && coverage json ;

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}