name: Unit Tests

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  check-source-changes:
    runs-on: ubuntu-latest
    outputs:
      run_job: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout Sourcecode
        uses: actions/checkout@v4

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@v42.0.0
        with:
          files: |
            purpleair_api/*.py
            tests/*.py
            tests/*.txt
            setup.py
            setup.cfg

  Unit_Tests:
    name: ${{ matrix.os }} using Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    needs: check-source-changes
    if: needs.check-source-changes.outputs.run_job == 'true'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12']

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python env for running unit tests...
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install python3 requirements...
        uses: carlkidcrypto/os-specific-runner@v2.0.0
        with:
          linux: cd /home/runner/work/purpleair_data_logger/purpleair_data_logger/ ;
                 python -m pip install --upgrade wheel ;
                 python -m pip install --upgrade setuptools ;
                 python -m pip install --upgrade pip ;
                 python -m pip install coverage ;
                 python -m pip install requests_mock ;
                 python -m pip install purpleair_api ;
            
          macos: cd /Users/runner/work/purpleair_data_logger/purpleair_data_logger/ ;
                 python -m pip install --upgrade wheel ;
                 python -m pip install --upgrade setuptools ;
                 python -m pip install --upgrade pip ;
                 python -m pip install coverage ;
                 python -m pip install requests_mock ;
                 python -m pip install purpleair_api ;
          
          windows: cd D:\a\purpleair_data_logger\purpleair_data_logger\ ;
                   python -m pip install --upgrade wheel ;
                   python -m pip install --upgrade setuptools ;
                   python -m pip install --upgrade pip ;
                   python -m pip install coverage ;
                   python -m pip install requests_mock ;
                   python -m pip install purpleair_api ;

      - name: Run unit tests...
        uses: carlkidcrypto/os-specific-runner@v2.0.0
        with:
          linux: cd /home/runner/work/purpleair_data_logger/purpleair_data_logger/tests ;
                 coverage run -m unittest && coverage json -o ${{matrix.os}}_${{matrix.python-version}}_coverage.json;

          macos: cd /Users/runner/work/purpleair_data_logger/purpleair_data_logger/tests ;
                 coverage run -m unittest && coverage json -o ${{matrix.os}}_${{matrix.python-version}}_coverage.json;
          
          windows: cd D:\a\purpleair_data_logger\purpleair_data_logger\tests ;
                   coverage run -m unittest && coverage json -o ${{matrix.os}}_${{matrix.python-version}}_coverage.json;

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          name: ${{matrix.os}}_${{matrix.python-version}}_coverage_report
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}